.header {
  display: flex;
  background-color: orange;
  padding-bottom: 50px;
  text-align: center;
}
h1 {
  color: white;
  margin-left: 30px;
  padding-bottom: 30px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}
ul li {
  list-style-type: none;
  color: black;
  font-size: 20px;
}
ul a {
  text-decoration: none;
}
.section {
  border: 1px solid black;
  margin-top: 5px;
  padding-bottom: 100px;
}
.article {
  border: 1px solid black;
  margin-top: 5px;
  padding-bottom: 80px;
}
.aside {
  border: 1px solid black;
  margin-top: 5px;
}
.footer {
  color: white;
  background-color: black;
  text-align: center;
}
.maincontent {
  display: flex;
  padding-bottom: 100px;
}
