#basic {
  color: blue;
  background-color: yellow;
}

.selectors {
  color: yellowgreen;
  background-color: tomato;
}
h1 {
  color: purple;
  background-color: rgb(36, 165, 34);
}
h2,
h3,
h4 {
  color: black;
  background-color: pink;
}
* {
  background-color: black;
}
